
<app-navbar></app-navbar>

<div class="container">
    <div class="container-body">
        <h1>WELCOME TO ANGULAR_AUTH HOME</h1>
    </div>
        <div class="grid">
            <div class="grid-block">
                <h2>Angular</h2>
            </div>
            <div class="grid-block">
                <h2>Express Js</h2>
            </div>
            <div class="grid-block">
             <h2>Node Js</h2>
            </div>
            <div class="grid-block">
                <h2>MongoDb</h2>
            </div>
    </div>
</div>


